

{{#each coins as |coin|}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{coin.img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{coin.name}}</h5>
    <h6 class=>{{coin.ticker}}</h6>
  </div>
  <p>{{coin.currentPrice}}</p>
  <div class="card-body">
    <a href="#" class="card-link"></a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}
<script src="./js/helpers.js"></script>