
{{each coins}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{coins.img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{coins.name}}</h5>
    <h6 class=>{{coins.ticker}}</h6>
  </div>
  <p>dynamic price here</p>
  <div class="card-body">
    <a href="#" class="card-link"></a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}
