{{!-- list of coins --}}

<div class="wrapper">
    <div class="coin-container" style= "height: 500px; width:630px; overflow-y: scroll;">
        <div>
            <ul>
                {{> coins }}    
            </ul>
        </div>
    </div>
    <div class="wallet-container">
        <h1>Wallet</h1>
        <ul class="wallet-list">
        </ul>
        <p class="walletTotal">Total Cost: </p>
        <p>Bank Left: </p>
        <button id=create-tournament>Create Tournament</button>
    </div>
</div>
{{!--need to do side bar of coins selected and total cost --}}
