{{!-- list of coins --}}

<div class="wrapper">
    <div class="coin-container" style= "height: 500px; width:630px; overflow-y: scroll;">
        <div>
            <ul>
                {{> coins }}    
            </ul>
        </div>
    </div>
    <div class="wallet-container">
        <h1>Wallet</h1>
        <ul class="wallet-list">
        </ul>
        <p class="totalCost">Total Cost: </p>
        <p>Bank Left: </p>
        <button id=create-tournament>Create Tournament</button>
    </div>
</div>
{{!--need to do side bar of coins selected and total cost --}}
<script>
const TotalCost = (tickers) => {
    for(let i = 0; i < tickers.length; i++){
        let total = 0
        let newTotal;
        total + (tickers.price[i]*tickers.val[i]) = newTotal
    }
    return newTotal
    }
    let updateWalletCost = document.querySelector('.totalCost').innerHTML(`'Total Cost: ${newTotal(tickers)}'`)
    console.log(newTotal);
</script>