{{!-- list of coins --}}

<div class="wrapper">
    <div class="coin-container" style= "height: 500px; width:630px; overflow-y: scroll;">
        <div>
            <ul>
                {{> coins }}    
            </ul>
        </div>
    </div>
    <div class="wallet-container">
        <h1>Wallet</h1>
        <ul class="wallet-list">
        </ul>
        <p>Total Cost: 
            <span class="walletTotal">0</span>
            </p>
        <p>Bank Left: <span class="bankTotal">$75000</span></p>
        {{#if tourneyId}}
        <button id=join-tournament class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Join Tournament</button>{{else}}
        <button id=create-tournament class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create Tournament</button>
        {{/if}}
    </div>
</div>
{{!--need to do side bar of coins selected and total cost --}}
